body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:963px;
}
#u3521 {
  position:absolute;
  left:4px;
  top:-6px;
  width:1920px;
  height:963px;
}
#u3522 {
  position:absolute;
  left:2px;
  top:474px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:694px;
}
#u3523 {
  position:absolute;
  left:360px;
  top:187px;
  width:1199px;
  height:694px;
}
#u3524 {
  position:absolute;
  left:2px;
  top:339px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3525 {
  position:absolute;
  left:360px;
  top:118px;
  width:1199px;
  height:52px;
}
#u3526 {
  position:absolute;
  left:2px;
  top:18px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(188, 188, 188, 0.349019607843137);
}
#u3528 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u3529 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
}
#u3530 {
  position:absolute;
  left:360px;
  top:2px;
  width:312px;
  height:56px;
}
#u3531 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3532 {
  position:absolute;
  left:760px;
  top:23px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u3533 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3534 {
  position:absolute;
  left:890px;
  top:23px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u3535 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3536 {
  position:absolute;
  left:1020px;
  top:23px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u3537 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3538 {
  position:absolute;
  left:1150px;
  top:23px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u3539 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u3540 {
  position:absolute;
  left:1280px;
  top:14px;
  width:38px;
  height:38px;
}
#u3541 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3542 {
  position:absolute;
  left:1307px;
  top:15px;
  width:10px;
  height:10px;
}
#u3543 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3544 {
  position:absolute;
  left:1370px;
  top:15px;
  width:32px;
  height:32px;
}
#u3545 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u3546 {
  position:absolute;
  left:1425px;
  top:23px;
  width:97px;
  height:16px;
}
#u3547 {
  position:absolute;
  left:2px;
  top:0px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:7px;
}
#u3548 {
  position:absolute;
  left:1542px;
  top:28px;
  width:15px;
  height:7px;
}
#u3549 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3550 {
  position:absolute;
  left:360px;
  top:80px;
  width:21px;
  height:21px;
}
#u3551 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3552 {
  position:absolute;
  left:391px;
  top:85px;
  width:167px;
  height:16px;
}
#u3553 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u3554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u3554 {
  position:absolute;
  left:378px;
  top:134px;
  width:22px;
  height:19px;
}
#u3555 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:15px;
}
#u3556 {
  position:absolute;
  left:419px;
  top:139px;
  width:491px;
  height:15px;
}
#u3557 {
  position:absolute;
  left:2px;
  top:0px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u3558 {
  position:absolute;
  left:1391px;
  top:487px;
  width:16px;
  height:20px;
}
#u3559 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:71px;
}
#u3560 {
  position:absolute;
  left:360px;
  top:187px;
  width:138px;
  height:71px;
}
#u3561 {
  position:absolute;
  left:2px;
  top:28px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u3562 {
  position:absolute;
  left:1391px;
  top:586px;
  width:16px;
  height:20px;
}
#u3563 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u3564 {
  position:absolute;
  left:360px;
  top:279px;
  width:1199px;
  height:1px;
}
#u3565 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3566 {
  position:absolute;
  left:391px;
  top:215px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3567 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u3568 {
  position:absolute;
  left:360px;
  top:257px;
  width:1199px;
  height:1px;
}
#u3569 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3570 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:26px;
}
#u3571 {
  position:absolute;
  left:1248px;
  top:304px;
  width:264px;
  height:26px;
}
#u3572 {
  position:absolute;
  left:2px;
  top:5px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.2);
}
#u3573 {
  position:absolute;
  left:1251px;
  top:309px;
  width:155px;
  height:17px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.2);
}
#u3574 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u3575 {
  position:absolute;
  left:1069px;
  top:409px;
  width:443px;
  height:375px;
}
#u3575_input {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:375px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3576 {
  position:absolute;
  left:419px;
  top:409px;
  width:444px;
  height:375px;
}
#u3576_input {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:375px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 192, 217, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3577 {
  position:absolute;
  left:940px;
  top:543px;
  width:52px;
  height:28px;
  color:#FFFFFF;
}
#u3578 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u3579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:27px;
  background:inherit;
  background-color:rgba(34, 192, 217, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3579 {
  position:absolute;
  left:940px;
  top:623px;
  width:52px;
  height:27px;
  color:#FFFFFF;
}
#u3580 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u3581 {
  position:absolute;
  left:438px;
  top:433px;
  width:115px;
  height:16px;
}
#u3582 {
  position:absolute;
  left:16px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u3581_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3583 {
  position:absolute;
  left:463px;
  top:464px;
  width:100px;
  height:16px;
}
#u3584 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3583_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3585 {
  position:absolute;
  left:526px;
  top:464px;
  width:82px;
  height:16px;
}
#u3585_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u3586 {
  position:absolute;
  left:1097px;
  top:586px;
  width:115px;
  height:16px;
}
#u3587 {
  position:absolute;
  left:16px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u3586_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3588 {
  position:absolute;
  left:1097px;
  top:618px;
  width:115px;
  height:16px;
}
#u3589 {
  position:absolute;
  left:16px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u3588_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3590 {
  position:absolute;
  left:463px;
  top:495px;
  width:100px;
  height:16px;
}
#u3591 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3590_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3592 {
  position:absolute;
  left:526px;
  top:495px;
  width:82px;
  height:16px;
}
#u3592_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3593 {
  position:absolute;
  left:572px;
  top:433px;
  width:117px;
  height:16px;
}
#u3593_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3593_input:disabled {
  color:grayText;
}
#u3594 {
  position:absolute;
  left:419px;
  top:814px;
  width:177px;
  height:16px;
}
#u3595 {
  position:absolute;
  left:16px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u3594_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(34, 192, 217, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3596 {
  position:absolute;
  left:1432px;
  top:804px;
  width:80px;
  height:26px;
}
#u3597 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u3598 {
  position:absolute;
  left:463px;
  top:433px;
  width:20px;
  height:16px;
}
#u3599 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u3600 {
  position:absolute;
  left:1126px;
  top:586px;
  width:19px;
  height:16px;
}
#u3601 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u3602 {
  position:absolute;
  left:1126px;
  top:618px;
  width:19px;
  height:16px;
}
#u3603 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3604 {
  position:absolute;
  left:420px;
  top:303px;
  width:207px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3605 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u3606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:2px;
}
#u3606 {
  position:absolute;
  left:420px;
  top:365px;
  width:1092px;
  height:1px;
}
#u3607 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1088px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3608 {
  position:absolute;
  left:1097px;
  top:433px;
  width:115px;
  height:16px;
}
#u3609 {
  position:absolute;
  left:16px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u3608_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3610 {
  position:absolute;
  left:1122px;
  top:464px;
  width:100px;
  height:16px;
}
#u3611 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3610_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3612 {
  position:absolute;
  left:1122px;
  top:495px;
  width:100px;
  height:16px;
}
#u3613 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3612_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u3614 {
  position:absolute;
  left:1122px;
  top:433px;
  width:20px;
  height:16px;
}
#u3615 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3616 {
  position:absolute;
  left:1124px;
  top:523px;
  width:100px;
  height:16px;
}
#u3617 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3616_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3618 {
  position:absolute;
  left:1124px;
  top:554px;
  width:100px;
  height:16px;
}
#u3619 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3618_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:957px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3620 {
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:957px;
  opacity:0.5;
}
#u3621 {
  position:absolute;
  left:2px;
  top:470px;
  width:1920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3622 {
  position:absolute;
  left:604px;
  top:283px;
  width:541px;
  height:212px;
}
#u3623 {
  position:absolute;
  left:2px;
  top:98px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:46px;
  background:inherit;
  background-color:rgba(34, 192, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u3624 {
  position:absolute;
  left:604px;
  top:283px;
  width:541px;
  height:46px;
  color:#FFFFFF;
  text-align:left;
}
#u3625 {
  position:absolute;
  left:2px;
  top:15px;
  width:537px;
  word-wrap:break-word;
}
#u3626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3626 {
  position:absolute;
  left:640px;
  top:373px;
  width:469px;
  height:33px;
  font-size:28px;
}
#u3627 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
#u3628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
  background:inherit;
  background-color:rgba(34, 192, 217, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3628 {
  position:absolute;
  left:966px;
  top:435px;
  width:161px;
  height:36px;
  color:#FFFFFF;
}
#u3629 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
