body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:804px;
}
#u1039 {
  position:absolute;
  left:4px;
  top:-6px;
  width:1920px;
  height:804px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:394px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:442px;
}
#u1041 {
  position:absolute;
  left:360px;
  top:187px;
  width:1199px;
  height:442px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:213px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1043 {
  position:absolute;
  left:360px;
  top:118px;
  width:1199px;
  height:52px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:18px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(188, 188, 188, 0.349019607843137);
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
}
#u1048 {
  position:absolute;
  left:360px;
  top:2px;
  width:312px;
  height:56px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1050 {
  position:absolute;
  left:760px;
  top:23px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1052 {
  position:absolute;
  left:890px;
  top:23px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1054 {
  position:absolute;
  left:1020px;
  top:23px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1056 {
  position:absolute;
  left:1150px;
  top:23px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u1058 {
  position:absolute;
  left:1280px;
  top:14px;
  width:38px;
  height:38px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1060 {
  position:absolute;
  left:1307px;
  top:15px;
  width:10px;
  height:10px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1062 {
  position:absolute;
  left:1370px;
  top:15px;
  width:32px;
  height:32px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u1064 {
  position:absolute;
  left:1425px;
  top:23px;
  width:97px;
  height:16px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:0px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:7px;
}
#u1066 {
  position:absolute;
  left:1542px;
  top:28px;
  width:15px;
  height:7px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1068 {
  position:absolute;
  left:360px;
  top:80px;
  width:21px;
  height:21px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070 {
  position:absolute;
  left:391px;
  top:85px;
  width:167px;
  height:16px;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1072 {
  position:absolute;
  left:378px;
  top:134px;
  width:22px;
  height:19px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:15px;
}
#u1074 {
  position:absolute;
  left:419px;
  top:139px;
  width:491px;
  height:15px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:0px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u1076 {
  position:absolute;
  left:1169px;
  top:448px;
  width:16px;
  height:20px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:71px;
}
#u1078 {
  position:absolute;
  left:360px;
  top:187px;
  width:138px;
  height:71px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:28px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:2px;
}
#u1080 {
  position:absolute;
  left:385px;
  top:529px;
  width:1148px;
  height:1px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u1082 {
  position:absolute;
  left:1169px;
  top:547px;
  width:16px;
  height:20px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:2px;
}
#u1084 {
  position:absolute;
  left:385px;
  top:628px;
  width:1148px;
  height:1px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u1086 {
  position:absolute;
  left:360px;
  top:279px;
  width:1199px;
  height:1px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1088 {
  position:absolute;
  left:387px;
  top:204px;
  width:81px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
  background:inherit;
  background-color:rgba(34, 192, 217, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1090 {
  position:absolute;
  left:538px;
  top:565px;
  width:102px;
  height:32px;
  color:#FFFFFF;
}
#u1091 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1092 {
  position:absolute;
  left:406px;
  top:301px;
  width:113px;
  height:16px;
  text-align:right;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1094 {
  position:absolute;
  left:538px;
  top:298px;
  width:300px;
  height:25px;
}
#u1094_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1095 {
  position:absolute;
  left:406px;
  top:391px;
  width:71px;
  height:16px;
  text-align:right;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1097 {
  position:absolute;
  left:538px;
  top:396px;
  width:496px;
  height:142px;
}
#u1097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:142px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u1098 {
  position:absolute;
  left:360px;
  top:257px;
  width:1199px;
  height:1px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1100 {
  position:absolute;
  left:406px;
  top:351px;
  width:99px;
  height:16px;
  text-align:right;
}
#u1101 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1102 {
  position:absolute;
  left:538px;
  top:348px;
  width:300px;
  height:25px;
}
#u1102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(34, 192, 217, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1105 {
  position:absolute;
  left:848px;
  top:343px;
  width:88px;
  height:30px;
  color:#FFFFFF;
}
#u1106 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1107 {
  position:absolute;
  left:856px;
  top:349px;
  width:14px;
  height:16px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:792px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109 {
  position:absolute;
  left:0px;
  top:1px;
  width:1924px;
  height:792px;
  opacity:0.5;
}
#u1110 {
  position:absolute;
  left:2px;
  top:388px;
  width:1920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:459px;
}
#u1111 {
  position:absolute;
  left:609px;
  top:118px;
  width:701px;
  height:459px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:222px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 132, 199, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1113 {
  position:absolute;
  left:899px;
  top:534px;
  width:58px;
  height:27px;
  color:#FFFFFF;
}
#u1114 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u1115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1115 {
  position:absolute;
  left:964px;
  top:533px;
  width:58px;
  height:27px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u1117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1117 {
  position:absolute;
  left:666px;
  top:198px;
  width:300px;
  height:20px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
