body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:804px;
}
#u959 {
  position:absolute;
  left:4px;
  top:-6px;
  width:1920px;
  height:804px;
}
#u960 {
  position:absolute;
  left:2px;
  top:394px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:442px;
}
#u961 {
  position:absolute;
  left:360px;
  top:187px;
  width:1199px;
  height:442px;
}
#u962 {
  position:absolute;
  left:2px;
  top:213px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u963 {
  position:absolute;
  left:360px;
  top:118px;
  width:1199px;
  height:52px;
}
#u964 {
  position:absolute;
  left:2px;
  top:18px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(188, 188, 188, 0.349019607843137);
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u967 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
}
#u968 {
  position:absolute;
  left:360px;
  top:2px;
  width:312px;
  height:56px;
}
#u969 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u970 {
  position:absolute;
  left:760px;
  top:23px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u972 {
  position:absolute;
  left:890px;
  top:23px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u974 {
  position:absolute;
  left:1020px;
  top:23px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u976 {
  position:absolute;
  left:1150px;
  top:23px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u978 {
  position:absolute;
  left:1280px;
  top:14px;
  width:38px;
  height:38px;
}
#u979 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u980 {
  position:absolute;
  left:1307px;
  top:15px;
  width:10px;
  height:10px;
}
#u981 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u982 {
  position:absolute;
  left:1370px;
  top:15px;
  width:32px;
  height:32px;
}
#u983 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u984 {
  position:absolute;
  left:1425px;
  top:23px;
  width:97px;
  height:16px;
}
#u985 {
  position:absolute;
  left:2px;
  top:0px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:7px;
}
#u986 {
  position:absolute;
  left:1542px;
  top:28px;
  width:15px;
  height:7px;
}
#u987 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u988 {
  position:absolute;
  left:360px;
  top:80px;
  width:21px;
  height:21px;
}
#u989 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:391px;
  top:85px;
  width:167px;
  height:16px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u992 {
  position:absolute;
  left:378px;
  top:134px;
  width:22px;
  height:19px;
}
#u993 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:15px;
}
#u994 {
  position:absolute;
  left:419px;
  top:139px;
  width:491px;
  height:15px;
}
#u995 {
  position:absolute;
  left:2px;
  top:0px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u996 {
  position:absolute;
  left:1169px;
  top:448px;
  width:16px;
  height:20px;
}
#u997 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:71px;
}
#u998 {
  position:absolute;
  left:360px;
  top:187px;
  width:138px;
  height:71px;
}
#u999 {
  position:absolute;
  left:2px;
  top:28px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:2px;
}
#u1000 {
  position:absolute;
  left:385px;
  top:529px;
  width:1148px;
  height:1px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u1002 {
  position:absolute;
  left:1169px;
  top:547px;
  width:16px;
  height:20px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:2px;
}
#u1004 {
  position:absolute;
  left:385px;
  top:628px;
  width:1148px;
  height:1px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u1006 {
  position:absolute;
  left:360px;
  top:279px;
  width:1199px;
  height:1px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1008 {
  position:absolute;
  left:387px;
  top:204px;
  width:81px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
  background:inherit;
  background-color:rgba(34, 192, 217, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1010 {
  position:absolute;
  left:538px;
  top:565px;
  width:102px;
  height:32px;
  color:#FFFFFF;
}
#u1011 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1012 {
  position:absolute;
  left:406px;
  top:301px;
  width:113px;
  height:16px;
  text-align:right;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1014 {
  position:absolute;
  left:538px;
  top:298px;
  width:300px;
  height:25px;
}
#u1014_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1015 {
  position:absolute;
  left:406px;
  top:391px;
  width:71px;
  height:16px;
  text-align:right;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1017 {
  position:absolute;
  left:538px;
  top:396px;
  width:496px;
  height:142px;
}
#u1017_input {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:142px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u1018 {
  position:absolute;
  left:360px;
  top:257px;
  width:1199px;
  height:1px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1020 {
  position:absolute;
  left:406px;
  top:351px;
  width:99px;
  height:16px;
  text-align:right;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1022 {
  position:absolute;
  left:538px;
  top:348px;
  width:300px;
  height:25px;
}
#u1022_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(34, 192, 217, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1025 {
  position:absolute;
  left:848px;
  top:343px;
  width:88px;
  height:30px;
  color:#FFFFFF;
}
#u1026 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1027 {
  position:absolute;
  left:856px;
  top:349px;
  width:14px;
  height:16px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:792px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1029 {
  position:absolute;
  left:0px;
  top:1px;
  width:1924px;
  height:792px;
  opacity:0.5;
}
#u1030 {
  position:absolute;
  left:2px;
  top:388px;
  width:1920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:459px;
}
#u1031 {
  position:absolute;
  left:609px;
  top:118px;
  width:701px;
  height:459px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:222px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 132, 199, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1033 {
  position:absolute;
  left:899px;
  top:534px;
  width:58px;
  height:27px;
  color:#FFFFFF;
}
#u1034 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1035 {
  position:absolute;
  left:964px;
  top:533px;
  width:58px;
  height:27px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1037 {
  position:absolute;
  left:666px;
  top:198px;
  width:300px;
  height:20px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
